
       <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          
          <div class="container-fluid">
            
            <div class="dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img
                  src="../../assets/img/Foto.jpeg"
                  class="rounded-circle"
                  height="25"
                  alt="Mi foto"
                  loading="lazy"
                />
              </a>
              <ul
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuAvatar"
              >
                <li>
                  <a class="dropdown-item" href="#">Datos alumno</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Grupo</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Calificación</a>
                </li>
              </ul>
            </div>
          

              <a class="navbar-brand" href="#">210735</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Minimizar Menu de Navegación">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                  
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                     Practicas
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" routerLink="Practica01">Practica01: Hola mundo</a></li>
                      <li><a class="dropdown-item" routerLink="Practica02">Practica02: NavBar</a></li>
                      <li><a class="dropdown-item"  routerLink="Practica03">Practica03: Databanding</a></li>
                      <li><a class="dropdown-item" routerLink="Practica04">Practica04: Cambio de estado</a></li>
                      <li><a class="dropdown-item" routerLink="Practica05">Practica05: Sincronizacion</a></li>
                      <li><a class="dropdown-item" routerLink="Practica06">Practica06: Event Binding.</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="self">Segunda Parte Practicas</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" routerLink="Practica07">Practica07: *ngFor.</a></li>
                      <li><a class="dropdown-item" routerLink="Practica08">Practica08: *ngIf.</a></li>
                      <li><a class="dropdown-item" routerLink="Practica09">Practica09: *ngStyle</a></li>
                      <li><a class="dropdown-item" routerLink="Practica10">Practica10:  *ngClass</a></li>
                      <li><a class="dropdown-item" routerLink="Practica11">Practica11:  *ngSwitch</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="self">Practicas de Aplicaciones</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" routerLink="Practica12">Practica12:  Piano</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                  </li>
                </ul>




                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>