<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <h3>Lista de estudiantes</h3>

</div>
    <div class="col-md-6 text-end" *ngIf="listEstudiantes.length > 0">
      <button class="btn btn-primary ml-auto"  (click)="mostrarEstudiantes()">Mostrar estudiantes</button>    
        </div>
        </div>
    <table class="table" *ngIf="mostrar">
        <thead>
            <th>Nro.</th>
            <th>Nombre</th>
            <th>Estado</th>
        </thead>
        <tbody>
            <tr *ngFor="let estudiante of listEstudiantes; let i=index">
                <td>{{i+1}}</td>
                <td>{{estudiante.nombre}}</td>
                <td>{{estudiante.estado}}</td>
            </tr>
        </tbody>

    </table>
    <h4 *ngIf="listEstudiantes.length==0">No hay estudiantes a mostrar</h4>
    </div>